@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sora: var(--font-sora);
  --font-space-grotesk: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F4F4;
    --foreground: #ededed;
  }
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
  background: var(--background);
  color: var(--background);
  font-family: var(--font-space-grotesk);
}